{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dog Breed Classifier</title>
    <link rel="stylesheet" type="text/css" href="{% static 'classifier/style.css' %}">
</head>
<body>
    <h1>Dog Breed Classifier</h1>
    <form id="upload-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" accept="image/*"> <!-- Add this line for the file input -->
        <button id="upload-button" type="button">Upload</button>
        <button id="predict-button" type="button">Predict</button>
    </form>
    <div id="result"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#upload-button').click(function() {
                $('#result').empty(); // Clear previous results
                $('#predict-button').prop('disabled', true); // Disable predict button
                var formData = new FormData($('#upload-form')[0]);
                $.ajax({
                    type: 'POST',
                    url: '{% url "upload" %}',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function() {
                        $('#predict-button').prop('disabled', false); // Re-enable predict button
                    }
                });
            });

            $('#predict-button').click(function() {
                $('#result').empty(); // Clear previous results
                $.ajax({
                    type: 'GET',
                    url: '{% url "predict" %}',
                    success: function(response) {
                        $('#result').html('<p>Predicted Breed: ' + response.breed + '</p>');
                    }
                });
            });
        });
    </script>
</body>
</html>
